# Ignore Maven build directory
target/

# Ignore environment variable files
.env

# Ignore other potential files/directories
.idea/
*.iml
*.log
.DS_Store

# Ignore build files
*.class
*.jar
*.war
*.ear

# Ignore node_modules directory
node_modules/

# Ignore Tailwind CSS output (if needed)
src/main/resources/static/styles/styles.output.css
